<?xml version="1.0"?>
<config>
    <modules>
        <BI_Extra>
            <version>0.1.0</version>
        </BI_Extra>
    </modules>
    <frontend>
        <routers>
            <extra>
                <use>standard</use>
                <args>
                    <module>BI_Extra</module>
                    <frontName>extra</frontName>
                </args>
            </extra>
        </routers>
        <layout>
            <updates>
                <extra>
                    <file>extra.xml</file>
                </extra>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<extra>
				<use>admin</use>
				<args>
					<module>BI_Extra</module>
					<frontName>extra</frontName>
				</args>
			</extra>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<extra module="extra">
				<title>Extra</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="extra">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>extra/adminhtml_extra</action>
					</items>
				</children>
			</extra>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<BI_Extra>
							<title>Extra Module</title>
							<sort_order>10</sort_order>
						</BI_Extra>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<extra>
					<file>extra.xml</file>
				</extra>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <extra>
                <class>BI_Extra_Model</class>
                <resourceModel>extra_mysql4</resourceModel>
            </extra>
            <extra_mysql4>
                <class>BI_Extra_Model_Mysql4</class>
                <entities>
                    <extra>
                        <table>extra</table>
                    </extra>
                </entities>
            </extra_mysql4>
        </models>
        <resources>
            <extra_setup>
                <setup>
                    <module>BI_Extra</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extra_setup>
            <extra_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </extra_write>
            <extra_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </extra_read>
        </resources>
        <blocks>
            <extra>
                <class>BI_Extra_Block</class>
            </extra>
        </blocks>
        <helpers>
            <extra>
                <class>BI_Extra_Helper</class>
            </extra>
        </helpers>
		<events>           
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <reset_ship_onepage_save_shipping_method>
                        <class>extra/obsever</class>
                        <method>resetshipping</method>
                    </reset_ship_onepage_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
		</events>
    </global>
</config>